head
  link(rel='stylesheet' href='common.css')
  link(rel='stylesheet' href='company.css')
  link(rel='stylesheet' href='education.css')
  link(rel='stylesheet' href='main-info.css')
  link(rel='stylesheet' href='project.css')
.header-container
  .header-left-container
    img(src=mainInfo.imageUrl alt='photo' width='200')
  .header-right-container
    div
      span.full-name #{mainInfo.fullName}
    div(style='margin-top: 20px;')
      span.contact-item-title Contacts:
      .contact-container
        .contact-item-container
          span.contact-item-title E-mail: 
          span.contact-item-value #{mainInfo.email}
        .contact-item-container
          span.contact-item-title Phone: 
          span.contact-item-value #{mainInfo.phone}
        .contact-item-container
          span.contact-item-title Linkedin: 
          span.contact-item-value
            a(href=mainInfo.linkedin) #{mainInfo.linkedin}
        .contact-item-container
          span.contact-item-title Github: 
          span.contact-item-value
            a(href=mainInfo.github) #{mainInfo.github}
.section-block
  .section-header-block
    span.section-header  Primary skills 
  ul.project-technologies-stack-container
    each primarySkill in primarySkills
        li.project-technologies-stack-item #{primarySkill}
.section-header-block
  span.section-header  Working Experience 
div
each company in workExperience
  div
    .company-header-row
      dic.company-title #{company.name}
      span.company-working-period #{company.period}
    div.company-position #{company.position}
    each project in company.projects
      div.project-title-header Project: 
        span.project-title #{project.title}
      div.project-description Description: #{project.description}
      div.project-additional-description #{project.additionalDescription}
      div.project-team-size Team: #{project.teamSize}
      div.project-technologies-stack Technologies
      ul.project-technologies-stack-container
        each technology in project.technologies
          li.project-technologies-stack-item #{technology}
.section-block
  .section-header-block
    span.section-header  Education
  each educationPlace in universities
    .company-header-row
      span.company-title #{educationPlace.name}
      span.company-working-period #{educationPlace.period}
    span.company-position Speciality: #{educationPlace.speciality}
    div.project-technologies-stack
      | During learning at University, got work experience with next main
      | technologies:
    ul.project-technologies-stack-container
      each technology in educationPlace.technologies
        li.project-technologies-stack-item #{technology}
.section-block
  .section-header-block
    span.section-header  Courses 
  each course in courses
    div
      .company-header-row
        span.company-title #{course.company}
        span.company-working-period #{course.period}
      div.company-position #{course.title}
      div.project-domain-description #{course.description} 
      ul.course-learning-items-container
        each technology in course.technologies
            li.course-learning-item #{technology}